<%= form_for([@truck, @trip]) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"วันที่" %><br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :"พนักงานขับรถ" %><br>
    <%= f.text_field :driver %>
  </div>
  <div class="field">
    <%= f.label :"น้ำมัน(ลิตร)" %><br>
    <%= f.text_field :liter %>
  </div>
  <div class="field">
    <%= f.label :"น้ำหนัก(ตัน)" %><br>
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :"ระยะทาง" %><br>
    <%= f.text_field :distance %>
  </div>
  <div class="field">
    <%= f.label :"ชนิดปูน" %><br>
    <%= f.text_field :cement %>
  </div>
  <div class="field">
    <%= f.label :"สถานที่ส่งของ" %><br>
    <%= f.text_field :destination %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
