<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @trip.date %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @trip.driver %>
</p>

<p>
  <strong>Liter:</strong>
  <%= @trip.liter %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @trip.weight %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @trip.distance %>
</p>

<p>
  <strong>Cement:</strong>
  <%= @trip.cement %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @trip.destination %>
</p>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<!-- <%= link_to 'Back', truck_path(@truck) %> -->
