<p id="notice"><%= notice %></p>

<h1></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <td align="center">ทะเบียนรถ</td>
      <td align="center">น้ำมันเครื่อง</td>
      <td align="center">น้ำมันเกียร์</td>
      <td align="center">เฟืองท้าย</td>
      <td align="center">กรองอากาศ</td>
      <td colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trucks.each do |truck| %>
      <tr>
        <td align="center"><%= truck.plate %></td>
        <!-- <script>
          console.log("<%= truck.plate %>")
        </script> -->
        <td align="center"><svg height="23" width="23">
              <circle cx="11.5" cy="11.5" r="11.5" fill="#00FF00" />
            </svg>
        </td>
        <td align="center"><svg height="23" width="23">
              <circle cx="11.5" cy="11.5" r="11.5" fill="#00FF00" />
            </svg>
        </td align="center">
        <td align="center"><svg height="23" width="23">
              <circle cx="11.5" cy="11.5" r="11.5" fill="#00FF00" />
            </svg>
        </td>
        <td align="center"><svg height="23" width="23">
              <circle cx="11.5" cy="11.5" r="11.5" fill="#00FF00" />
            </svg>
        </td>
        <td align="right"><%= link_to 'ดูข้อมูล', truck %></td>
        <td align="center"><%= link_to 'เพิ่มเที่ยว',  new_truck_trip_path(truck) %></td>
        <!-- <td><%= link_to 'Edit', edit_truck_path(truck) %></td> -->
        <!-- <td><%= link_to 'Destroy', truck, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Truck', new_truck_path %> -->

<a class="waves-effect waves-light btn" href="/trucks/new">เพิ่มรถ</a>
