<p id="notice"><%= notice %></p>

<h3>
  <strong>ทะเบียนรถ:</strong>
  <%= @truck.plate %>
</h3>
<br>
<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
    <!-- <span class="sr-only">40% Complete (success)</span> -->
    น้ำมันเครื่อง 40%
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%">
    <!-- <span class="sr-only">20% Complete</span> -->
    น้ำมันเกียร์ 15%
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
    <!-- <span class="sr-only">60% Complete (warning)</span> -->
    น้ำมันเฟืองท้าย 60%
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
    <!-- <span class="sr-only">80% Complete (danger)</span> -->
    กรองอะกาศ 80%
  </div>
</div>


<br>
<table id="text-center" class="table table-striped">
  <thead>
    <tr>
      <th>วันที่</th>
      <th>พนักงานขับรถ</th>
      <th>น้ำมัน/ลิตร</th>
      <th>จำนวนตัน</th>
      <th>ระยะทาง</th>
      <th>ชนิดปูน</th>
      <th>สถานที่ส่งของ</th>
    </tr>
  </thead>

<% @trips.each do |trip| %>
  <tr>
    <td><%= trip.date %></td>
    <td><%= trip.driver %></td>
    <td><%= trip.liter %></td>
    <td><%= trip.weight %></td>
    <td><%= trip.distance %></td>
    <td><%= trip.cement %></td>
    <td><%= trip.destination %></td>


  </tr>
<% end %>
</table>


<br>
<%= link_to 'create', new_truck_trip_path(@truck) %> |
<%= link_to 'Edit', edit_truck_path(@truck) %> |
<%= link_to 'Back', trucks_path %>
